<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cielo.ordermanager.sdk.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParcialPaymentActivity" />
        <activity android:name=".TotalPaymentActivity" />
        <activity android:name=".SelectPaymentMethodActivity" />
        <activity android:name=".SuccessivePaymentActivity" />
        <activity android:name=".PayInformingEmail" />
        <activity android:name=".ListOrdersActivity" />
        <activity android:name=".CancelPaymentActivity" />
        <activity android:name=".CancellationOrderList" />
        <activity android:name=".PrintSampleActivity"></activity>
    </application>

</manifest>